@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  opacity: 1;
  /* overflow-y: hidden; */
  margin: 0;
}

/* the homepage */
.img_icon{
  max-width: 7rem;
}
.video{
  max-height: 22rem;
  max-width: 22rem;
}
/* end */

.navbar {
  background: var(--bs-secondary-bg);
}

#sidebarMenu {
  background: var(--bs-secondary-bg);
  height: 100vh;
}

.card-body {
  background: var(--bs-secondary-bg);
}


.main {
  background: var(--bs-body-bg);
  padding-top: 2rem;
}

/* the various content colors */
.Sideitem {
  background: var(--bs-secondary-bg);
}

.sideitem2{
  background: var(--bs-body-bg);
}

.active{
  font-weight: 500;
}

/* booking */
.picture{
  max-height: 22rem;
  max-width: 22rem;
}

.picture2{
  width:100%;
}

.pic1{
  width: 18.75rem;
  max-width: 18.75rem;
}